
.img-container {
    position: relative;
    width: 100%;
    height: 300px; /* or any height you want */
    overflow: hidden; /* hides overflow if image is larger */
}

.img-container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; /* fills container without distortion */
    position: absolute;
    filter: blur(5px);
}

.title-font{
    color: white;
    align-content: center ;
    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body{
    margin: 0;
    padding: 0;
}

.blackBox2{
    width: 100%;
    height: 450px;
    background-color: #1d032b;
    align-content: center;
    display: flex;
}

#myVideo{
    width: 600px;
    height: 400px;
    float:right;
    margin-left:auto;
    padding-right: 40px;
    border-radius: 10px;
}

.SaguaroText{
    color: gainsboro;
    font-size: 40px;
    padding-left: 70px;
    position: absolute;
    top: 38%;
}

.crop-box {
    width: 800px;   /* final cropped width */
    height: 600px;  /* final cropped height */
    overflow: hidden;   /* hides the parts you don't want */
    position: relative;
    margin-left: 1050px;

    margin-top: 60px;
}
.crop-box2 {
    width: 800px;   /* final cropped width */
    height: 600px;  /* final cropped height */
    overflow: hidden;   /* hides the parts you don't want */
    position: relative;
    margin-left: 1050px;

    margin-top: 60px;
}





.TextContainer{
    width: 900px;
    height: 300px;
    padding-left: 70px;
    color: white;
    padding-top: 95px;
    position: absolute;
    overflow-wrap: break-word;
    padding-bottom: 40px ;
}

.image-button {
    position: relative;
    display: block;
    width: 110px;
    height: 45px;
    overflow: hidden;
    text-decoration: none;
    border-radius: 20px;
    background-color: mediumpurple;
    text-align: center;
    align-content: center;
    color: white;

}

.section {
    display: flex;
    flex-direction: row; /* video left, text right */
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    background-color: burlywood;
    padding: 40px;
    box-sizing: border-box;

}

.video-box video {
    width: 600px;
    height: auto;
    border-radius: 10px;
}

.text-box {
    color: black;
    width: 40%;
    font-size: 30px;
    right:10%;
    padding-right: 10px;

}
.heistDis{
    font-size: 20px;
}

.blackBox2-2{
    width: 100%;
    height: 450px;
    background-color: brown;
    align-content: center;
    display: flex;
    box-sizing: border-box;
}

#myVideo-2{
    width: 600px;
    height: 400px;
    float:right;
    margin-left:auto;
    padding-right: 40px;
    border-radius: 10px;
}

.SaguaroText-2{
    color: gainsboro;
    font-size: 40px;
    padding-left: 70px;
    position: absolute;
    padding-top: 50px;
}


.TextContainer-2{
    width: 900px;
    height: 300px;
    padding-left: 70px;
    color: white;
    padding-top: 100px;
    position: absolute;
    overflow-wrap: break-word;
    padding-bottom: 40px ;
}

.section-1{
    display: flex;
    flex-direction: row; /* video left, text right */
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    background-color: plum;
    padding: 40px;
    box-sizing: border-box;

}

.video-box-1 video {
    width: 600px;
    height: auto;
    border-radius: 10px;
}

.text-box-1 {
    color: black;
    width: 40%;
    font-size: 30px;
    right:10%;
    padding-right: 10px;

}
.heistDis-1{
    font-size: 20px;
}


.home-link {
    color: white;           /* icon color */
    font-size: 2.0rem;      /* icon size */
    transition: 0.3s;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.home-link:hover {
    color: #0ab2ff;         /* hover effect */
    transform: scale(1.2);  /* slight zoom on hover */
}

.image-button:hover {
    filter: brightness(60%);
}
